/* /////////////////////////
/* /////////////////////////
//////GENERAL */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    background-color: #ececec;
    width: 100vw;
    
}

section{
    margin-top: 7rem;
}

.title{
    color: #3a75c4;
    text-align: center;
    font-size: 3rem;
}

.title span{
    color: #fad600;
}


h4{
    font-family: 'Roboto Mono', monospace;
    font-size: 2.5rem;
    text-decoration: underline;
}


.workSpace{
    height: 100%;
    width: 85%;
    margin: 5rem auto;
    border-radius: 3rem;
    background-color: #ececec;
    box-shadow: 1rem 1rem 1.5rem #c7c4c4,
                -1rem -1rem 1.5rem #f9f9f9;
    padding-bottom: 9rem;
}

.workSpace section{
    text-align: center;
}

.workSpace section button{
    font-size: 2.1rem;
}

.ukraine{
    text-align: center;
    font-size: 1.9rem;
}



/* /////////////////////////
//////3D BUTTONS */

.btn-3d-1{
    position: relative;
    background: orangered;
    color: #E5EAF5;
    padding: 1.5rem 2.4rem;
    font-size: 1.4rem;
    box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
    outline: none;
}

.btn-3d-1:hover{
    background: hsl(16, 100%, 45%);
}

.btn-3d-1:active{
    background: hsl(16, 100%, 40%);
    top: 3px;
    left: -3px;
    box-shadow: hsl(16, 100%, 30%);
}

.btn-3d-1::before{
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;

    border: solid 6px transparent;
    border-right: solid 6px hsl(16, 100%, 30%);
    border-left-width: 0;
    background: none;
    top: -2px;
    left: -8px;
}

.btn-3d-1::after{
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;

    border: solid 6px transparent;
    border-top: solid 6px hsl(16, 100%, 30%);
    border-bottom-width: 0;
    right: -2px;
    bottom: -8px;
}


/* /////////////////////////
//////GRADIENT BORDERED BUTTONS */

/* ********** FIRST GRADIENT ********** */

.gradient-1{
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 2rem 4rem;
    background-color: #e7eef1;
    border: solid 1rem transparent;
    border-image: linear-gradient(to top right, #FFB5E8,#AFF8DB);
    border-image-slice: 1;
    color: #FFB5E8;
    transition: all 0.5s ease-in-out;
    text-shadow: 1px 1px 2px #AA3939;
}


.gradient-1:hover{
    background-image: linear-gradient(to top right, #FFB5E8, #AFF8DB);
    color: #AA3939;
    text-shadow: 1px 1px 2px #FFB5E8;
}

/* ********** SECOND GRADIENT ********** */

.gradient-2{
    margin-left: 2rem;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 2rem 4rem;
    background-color: #e7eef1;
    border: solid 4px transparent;
    border-image: linear-gradient(to right, #fe00f6,#fb0072);
    border-image-slice: 1;
    color: #fe00f6;
    transition: all 0.5s ease-in-out;
    text-shadow: 1px 1px 1px #011efe;
}

.gradient-2:hover{
    background-image: linear-gradient(to  right, #fe00f6, transparent);
    color: #011efe;
    text-shadow: 1px 1px 2px #fe00f6;
    border: none;
}


/* /////////////////////////
//////ANIMATED BUTTONS*/


/* ********ANIMATED ONE****** */
.animated-1{
    position: relative;
    display: inline-block;
    padding: 2rem 4rem;
    font-size: 1.4rem;
    background-color: #00b3b4;
    background-image: url(pattern.png);
    background-size: 4rem 4rem;
    border: 1px solid #555;
    color: #ececec;
    transition: all ease .3s;
}

.animated-1:hover{
    animation: loading-button-animation 2s linear infinite;
}

@keyframes loading-button-animation {
    from{
        background-position: 0 0;
    }
    to{
        background-position: 4rem 0;
    }
}

/* ********ANIMATED TWO****** */

.animated-2{
    margin-left: 2rem;
    position: relative;
    display: inline-block;
    padding: 2rem 4rem;
    font-size: 1.4rem;
    background-color: #00b3b4;
    background-size: 4rem 4rem;
    border: 1px solid #555;
    color: #ececec;
    transition: all ease .3s;
}

.animated-2::after{
    position: absolute;
    top: 33%;
    right: .3em;
    content: ">>";
    transition: all ease .3s;
    opacity: 0;
}

.animated-2:hover{
    padding: 2rem  6rem 2rem 2rem;
}

.animated-2:hover::after{
    right: 1.2em;
    opacity: 1;
}


/* /////////////////////////
//////TOGGLE BUTTON*/

.toggle-1{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 0 0;
}

.toggle-1__input{
    display: none;
}

.toggle-1__button{
    position: relative;
    display: inline-block;
    font-size: 1.3rem;
    line-height: 2rem;
    text-transform: uppercase;
    background-color: #cc0000;
    border: 1px solid #cc0000;
    color: #ececec;
    width: 8rem;
    height: 3rem;
    transition: all .3s ease;
    cursor: pointer;
}

.toggle-1__button::before{
    position: absolute;
    top: 6px;
    left: 4.3rem;
    content: "off";
    display: inline-block;
    height: 2rem;
    padding: 0 3px;
    background: #ececec;
    color: #cc0000;
    transition: all .3s ease;
}

.toggle-1__input:checked + .toggle-1__button{
    background: #00b3b4;
    border: 1px solid #00b3b4;
}

.toggle-1__input:checked + .toggle-1__button::before{
    left: 5px;
    content: "on";
    color: #00b3b4;

}